NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
SCAN_CRON="*/5 * * * *"
API_KEY=your_secret_api_key_here

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=github_notifications
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:password@localhost:5432/github_notifications

GITHUB_TOKEN=your_github_personal_access_token_here
GITHUB_API_URL=https://api.github.com
GITHUB_CACHE_TTL=600

REDIS_URL=redis://localhost:6379

RESEND_API_KEY=your_resend_api_key_here

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
